{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Classes page{% endblock %}

{# ------------------------------------------------- #}
{% block classesLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1> Classes </h1>

    <p>
        Info
    </p>

{% endblock %}