{% extends '_base.html.twig' %}

{% block pageTitle %}Contact Us{% endblock %}

{% block contactLinkStyle %}current_page{% endblock %}

{% block main %}

<h1>
    Contact Us
</h1>

<h3>
    Address
</h3>

<p>
    Kennedymartialarts.com,
    <p>
    Institute of Technology Blanchardstown,
    <br/>
    Blanchardstown Road North,
    <br/>
    Blanchardstown,
    <br/>
    Dublin 15
    <br/>
</p>

<h3>
    Telephone Number
</h3>

<p>
    01-123-4567
</p>

<h3>
    Email
</h3>

<p>
    <a href="mailto:B00069215@student.itb.ie">B00069215</a>
</p>
{% endblock %}