{% extends '_base.html.twig' %}

{% block pageTitle %}Home Page{% endblock %}

{% block indexLinkStyle %}current_page{% endblock %}

{% block main %}

<h1>
    Welcome to Kennedy Martial Arts
</h1>

<p>
    Info
</p>

{% endblock %}