{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}Trainers Page{% endblock %}

{# ------------------------------------------------- #}
{% block trainersLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

    <h1> Our Trainers </h1>

    <p>
        Info
    </p>

{% endblock %}